.m-t-100 {
    margin-top: 100px;
}

.p-0 {
    padding: 0;
}

.bg-info {
    background-color: #b3d1ff !important;
}

.bg-success {
    background-color: #33ff33 !important;
}

.bg-danger {
    background-color: #ff3333 !important;
}